.wrap2{    
    background-image: linear-gradient(to Right,rgb(0, 0, 0, .75),rgb(0, 0, 0, .1)),url(../ASSETS/IMG/CursosVirtuales.jpg);
}
.inicioBox{
    background-color: rgba(11, 48, 66, 0.8);
    border-style: double;
    border-color: white;    
}